# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
wheels/
*.whl
pip-log.txt

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# ML models & large data files
*.joblib
*.pkl
*.pickle
*.h5
*.hdf5
cleaned_dataset.csv
data/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
